jinja2~=3.1
mkdocs~=1.6.1
mkdocs-exporter~=6.2
mkdocs-material~=9.7
mkdocs-htmlproofer-plugin~=1.4
mkdocs-include-markdown-plugin~=7.2
mkdocs-open-in-new-tab~=1.0
mkdocs-macros-plugin~=1.5
mkdocs-unused-files~=0.2
mkdocs-redirects~=1.2
