:root {
  --md-primary-fg-color:        #18A0A0;
}

h1 {
    color: #000000;
    font-size: 2.0rem;
}

h2 {
    color: #111111;
    font-size: 1.7rem;
}

h3 {
    color: #222222;
    font-size: 1.5rem;
}

h4 {
    color: #333333;
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
}

code {
    font-size: 0.9rem;
}

a {
    font-weight: 700;
}
