:root {
  --md-primary-fg-color:        #18A0A0;
}

.md-typeset h1 {
    color: #202020;
    font-size: 1.7rem;
    font-weight: bold;
}

.md-typeset h2 {
    color: #303030;
    font-size: 1.5rem;
    font-weight: bold;
}

.md-typeset h3 {
    color: #404040;
    font-size: 1.3rem;
    font-weight: bold;
}

.md-typeset h4 {
    color: #505050;
    font-size: 1.1rem;
    font-weight: bold;
}

.md-typeset p {
    font-size: 1.0rem;
}

.md-typeset ul, ol {
    font-size: 1.0rem;
}

.md-typeset code {
    font-size: 0.9rem;
}

.md-typeset a {
    color: #18A0A0;
    font-size: 1.0rem;
    font-weight: bold;
}
